*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.arriba{
    background-color: rgb(63, 63, 186);
    padding: 15px 30px;
    color: white;
}

.hero{
    background-image: url(../code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.abajo{
    background-color: rgb(63, 63, 186);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}