*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(63, 63, 186);
    padding: 15px 30px;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.hero{
    background-image: url(../code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2{
    padding: 10px;
    background-color: rgba(72, 72, 72, 0.6);
}

h3{
    color: rgb(63, 63, 186);
    font-size: medium;
}

main section{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(225, 225, 225);
}

.abajo{
    background-color: rgb(63, 63, 186);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}